* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  margin: auto;
}

header {
  position: absolute;
  transform: translate(5vw, 0vh);
  background-color: blue; /* header and footer are blue */
  margin: auto;
  width: 90vw;
  height: 10vh;
  border-radius: 5px;
  margin-top: 0;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.nav_button {
  display: inline-block;
  height: 100%;
  width: 9.65%;
  text-align: center;
  color: white;
  background-color: grey; /* buttons are grey */
}

.presentation_box {

}

.presentation_img {
  background-color: yellow; /* background images are yellow */
  margin: auto;
  width: 100vw;
  height: 60vh;
  border-radius: 30%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.intro_presentations {
  background-color: black; /* text is black */
  width: 60vw;
  height: 30vh;
  margin: auto;
  transform: translate(0%,40%);
}

.buttons_presentation {
  background-color: grey;
  width: 25vw;
  height: 10vh;
  margin: auto;
  transform: translate(-70%,130%);
}

.partners_section {
  background-color: green; /* sections are green */
  margin: auto;
  width: 60vw;
  height: 40vh;
}

.intro_partners {
  background-color: black; /* text is black */
  width: 25vw;
  height: 10vh;
  margin: auto;
  margin-top: 10vh;
}

.slide_partners {
  background-color: white; /* sliding things are white */
  width: 30vw;
  height: 15vh;
  margin: auto;
  margin-top: 10vh;
}

main {
  margin: auto;
}

.solutions {
  background-color: green;
  width: 100vw;
  height: fit-content;
}

#solutions_img {
  background-color: yellow;
  width: 100vw;
  height: fit-content;
}

.intro_sol {
  background-color: black; /* text is black */
  width: 60vw;
  height: 40vh;
  margin: auto;
  margin-top: 10vh;
}

#video_pres {
  background-color: violet; /* videos are violet */
  width: 60vw;
  height: 50vh;
  margin: auto;
  margin-top: 5vh;
}

.conclusion_sol {
  background-color: green;
  margin-top: 5vh;
  width: 100vw;
  height: fit-content;
}

#our_sol {
  background-color: black;
  margin: auto;
  text-align: center;
  width: 60vw;
  height:10vh;
}

.boxes {
  background-color: red;
  margin: auto;
  padding-left: 1%;
  padding-right: 1%;
  width: 60vw;
  height: 40vh;
}

.sol_box {
  background-color: grey; /* boxes are aslo grey */
  width: 17vw;
  height: 40vh;
  margin: auto;
  margin-left: 0.5%;
  margin-right: 0.5%;
  display: inline-block;
}

.method {
  background-color: green;
  width: 100vw;
  height: fit-content;
}

.intro_method {
  background-color: black; /* text is black */
  width: 60vw;
  height: 40vh;
  margin: auto;
  margin-top: 30vh;
}

.slide_method {
  background-color: white; /* sliding things are white */
  /* width: 30vw; */
  /* height: 15vh; */
  margin: auto;
  margin-top: 10vh;
}

.met_box {
  background-color: grey; /* boxes are aslo grey */
  border-radius: 10%;
  width: 30vw;
  height: 50vh;
  margin: auto;
  margin-left: 1.5%;
  margin-right: 1.5%;
  display: inline-block;
}

.met_button {
  background-color: grey;
  width: auto;
  height: 20vh;
  margin: auto;
}

.free_trial_banner {
  background-color: orange; /* banners are orange */
  height: 25vh;
  width: auto;
  margin: auto;
  margin-top: 10vh;
}

.support {
  background-color: green;
  width: 100vw;
  height: fit-content;
}

.sup_text {
  background-color: black;
  margin: auto;
  display: inline-block;
  width: 50vw;
  height: 40vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 5vw;
}

.sup_img {
  background-color: yellow;
  display: inline-block;
  width: 40vw;
  height: 60vh;
}

.opinions {
  background-color: green;
  width: 100vw;
  height: fit-content;
  margin-top: 10vh;
}

.opi_text {
  background-color: black;
  height: 18vh;
  width: 55vw;
  margin: auto;
}

.opi_slide {
  background-color: white;
  height: 55vh;
  margin: auto;
}

.slider {
  background-color: red;
  margin: auto;
  height: 100%;
  width: 80vw;
}

.opi_box {
  background-color: grey;
  margin: auto;
  width: 30vw;
  height: 100%;
  display: inline-block;
  margin-left: 6%;
  margin-right: 6%;
}

footer {
  background-color: blue;
  height: 55vh;
  margin: auto;
  margin-top: 10vh;
}

.contacts {
  background-color: black;
  display: inline-block;
  margin: auto;
  margin-left: 10%;
  margin-right: 3%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  height: 50vh;
  width: 20vw;
}

.usef_link {
  background-color: brown; /* links are brown */
  display: inline-block;
  margin: auto;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-right: 10vw;
  height: 50vh;
  width: 55vw;
}
